html, body{
    min-height: 100%;
    background: #F1F1F1;
    color: #c2c2c2;
    width:100% }
main{ margin: 30px;}
ul {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    }
div{width:30% ;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 10px; }
li{color: #C7C7C7;
    background: rgba(118,117,128,0.05);
    border: 2px solid #F1F1F1;
    border-radius:10px/7px;
    display: block;
    height: 50px; /*line-height: 45px; текст должен был отцентроваться, но сработал из-за картинки...*/
     padding: 10px;
    font-size: 14px;
    /*white-space: normal;*/ }
.circle img{ border-radius:30px; }
img {vertical-align: middle;
    margin-right: 7px;}
div p{text-transform: uppercase;
     font-weight: 700;  }
li:hover {color:#ec5a62;
        background: rgba(118,117,128,0.1)}
input { display: inline-block;
    height: 100px;/*почему не работает в процентах?!*/
    vertical-align: middle;
    border: none;
    font: bold normal 75px/1.5 Arial, sans-serif;
    background: #F1F1F1;}
input[type="button"]{width: 20%; height:25%; color:#c2c2c2;}
input[type="search"]{
    color:#ec5a62;
    width: 70%;}
input:focus{border: transparent} /*???все равно остается синяя рамка*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c2c2c2;}
::-moz-placeholder { /* Firefox 19+ */
    color: #c2c2c2; }
:-ms-input-placeholder { /* IE 10+ */
    color: #c2c2c2;}
:-moz-placeholder { /* Firefox 18- */
    color: #c2c2c2;}